node_modules
.next
out
build
coverage

.git
.github
.cursor
.gitignore
.editorconfig

.env
.env.*
!.env.local.example
!.env.example

*.md
mcp-server
supabase
vitest.config.ts
eslint.config.mjs
.prettierignore
.prettierrc
**/*.tsbuildinfo
next-env.d.ts
